<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="parent border">
        <header class="p-3 mb-2 bg-dark text-white m-2">
            <h1 class="text-center">To-DO-App in Flask!</h1>
        </header>

        <form action="/inserttask" method="POST">
           
            <div class="mb-3 container">
              <label for="taskfiled" class="form-label">Enter Today's</label>
              <input type="text" class="form-control" id="taskfiled" name="todaystask">
              <button type="submit" class=" bg-dark btn btn-sm btn-primary m-3">Submit</button>
            </div>
           
          </form>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>